@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "AvenirNext LT Pro";
  color: #323232;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #323232;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 0 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    padding: 0 36px;
  }
}
.header__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__wrapper {
    flex-direction: row;
    justify-content: left;
  }
}
@media screen and (min-width: 1280px) {
  .header__wrapper {
    max-width: 1280px;
  }
}
.header__title {
  margin: 0;
  height: 20px;
  width: 120px;
}

.primary-nav {
  width: 100%;
  height: 50%;
  display: flex;
}
@media screen and (min-width: 768px) {
  .primary-nav {
    width: 300px;
    height: 100%;
    padding-left: 1.8rem;
  }
}
.primary-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .primary-nav__list {
    padding: 0 16px;
  }
}
.primary-nav__item {
  color: #ffffff;
  width: 100%;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .primary-nav__item {
    margin: 0 24px;
    width: 200px;
    font-size: 20px;
    line-height: 18px;
  }
}
.primary-nav__item:hover {
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .primary-nav__item:hover {
    margin-right: 24px;
    padding: 30px 0;
  }
}
.primary-nav__highlight {
  border-bottom: 0.25rem solid #ffffff;
  font-weight: bold;
}

.footer {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #323232;
  position: relative;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 0 2.25rem;
  }
}
.footer__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  padding-bottom: 1rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .footer__wrapper {
    padding-top: 3rem;
    padding-bottom: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__wrapper {
    max-width: 1280px;
  }
}
.footer__title-box {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__title-box {
    flex-direction: row;
  }
}
.footer__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .footer__title {
    font-size: 2.15rem;
    line-height: 2.75rem;
    padding: 0 2rem 0 0;
  }
}
.footer__images {
  display: flex;
}
.footer__images--icon {
  padding-right: 2.375rem;
}
.footer__cards {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__cards {
    flex-direction: row;
    font-size: 14.3px;
    line-height: 1.25rem;
    padding-bottom: 0;
  }
}
.footer span::before {
  content: "\a";
  white-space: pre;
}
.footer__card {
  padding-top: 0;
  padding-bottom: 1rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .footer__card {
    padding-right: 2rem;
  }
}
.footer__card--name {
  font-weight: 700;
  padding-bottom: 1rem;
  margin: 0;
}
.footer__card--address {
  padding-bottom: 1rem;
  margin: 0;
}
.footer__card--email {
  margin: 0;
}
.footer__logo-image {
  background: url(../../assets/logos/Logo-bandsite.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  bottom: 50px;
  top: 0;
  right: 0;
  background-position: left bottom;
  padding-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
  .footer__logo-image {
    background-position: right top;
    left: 0;
    bottom: 0;
    top: 55px;
    right: 0;
    display: flex;
    justify-content: center;
  }
}
.footer__copyright {
  padding-top: 2rem;
  font-size: 0.6875rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    padding-top: 1.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.hero {
  padding: 0 1rem;
  width: 100%;
  height: 200px;
  overflow: hidden;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 0 2.25rem;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 600px;
  }
}
.hero__wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .hero__wrapper {
    height: 500px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__wrapper {
    max-width: 1280px;
    height: 600px;
  }
}
.hero__wrapper--text {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .hero__wrapper--text {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__wrapper--text {
    max-width: 1280px;
  }
}

.band {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .band {
    padding: 0 2.25rem;
  }
}
.band__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .band__wrapper {
    max-width: 1280px;
  }
}
.band__title {
  color: #323232;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .band__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
.band__image {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .band__image {
    display: flex;
    justify-content: center;
    padding: 0 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .band__image {
    width: 100%;
    height: 50%;
  }
}
.band__subtitle {
  font-size: 0.9rem;
  line-height: 1.375rem;
  font-weight: 600;
  padding-top: 1.5rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .band__subtitle {
    padding-top: 2.25rem;
  }
}
.band__subtitle--tag {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .band__subtitle--tag {
    font-size: 1.39rem;
    line-height: 1.7rem;
    padding: 0 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .band__subtitle--tag {
    max-width: 1280px;
    width: 70%;
  }
}
.band__subtitle--singer {
  margin: 0;
  padding-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .band__subtitle--singer {
    padding: 1rem 4rem;
    font-size: 1rem;
  }
}
.band__body {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #323232;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .band__body {
    font-size: 0.875rem;
    line-height: 1.375rem;
    padding: 0 4rem 2.25rem 4rem;
  }
}
.band__body h4 {
  margin: 0;
  padding-top: 2rem;
}
@media screen and (min-width: 768px) {
  .band__body h4 {
    font-size: 1.5rem;
    line-height: 1.275rem;
  }
}
.band__body--content {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .band__body--content {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
  }
}
.band__body--content p {
  margin-right: 2rem;
}

.gallery {
  width: 100%;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding: 0 2.25rem;
  }
}
.gallery__wrapper {
  width: 100%;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .gallery__wrapper {
    padding-bottom: 0.75rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__wrapper {
    max-width: 1280px;
  }
}
.gallery__title {
  color: #323232;
  font-size: 1.5rem;
  line-height: 1.375rem;
  font-weight: 700;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin: 0;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .gallery__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
.gallery__photos {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .gallery__photos {
    margin-left: -1.5rem;
  }
}
.gallery__photos img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding-bottom: 1rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .gallery__photos img {
    width: 100px;
    flex: 1 0 30%;
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.comments {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .comments {
    padding: 0 2.25rem;
  }
}
.comments__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .comments__wrapper {
    max-width: 1280px;
  }
}
.comments__title {
  color: #323232;
  font-size: 1.5rem;
  line-height: 1.375rem;
  font-weight: 700;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin: 0;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .comments__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
.comments__form {
  width: 100%;
  display: flex;
}
@media screen and (min-width: 768px) {
  .comments__form {
    padding: 0 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .comments__form {
    padding-left: 14rem;
    padding-right: 20rem;
  }
}
.comments__form--left {
  flex: 0 0 20%;
  padding-top: 1.5rem;
  border-bottom: 2px solid #e1e1e1;
}
@media screen and (min-width: 768px) {
  .comments__form--left {
    flex: 0 0 10%;
    padding-top: 1.25rem;
    padding-right: 1rem;
  }
}
.comments__form--image {
  border-radius: 50%;
  height: 2.25rem;
  width: 2.25rem;
}
@media screen and (min-width: 768px) {
  .comments__form--image {
    height: 3rem;
    width: 3rem;
  }
}
.comments__form--right {
  flex: 0 0 80%;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #e1e1e1;
}
@media screen and (min-width: 768px) {
  .comments__form--right {
    flex: 0 0 90%;
  }
}
.comments__form--label-tag {
  font-size: 0.719rem;
  line-height: 1.125rem;
  font-weight: 700;
  color: #afafaf;
  text-transform: uppercase;
  padding: 0.25rem 0;
}
@media screen and (min-width: 768px) {
  .comments__form--label-tag {
    font-size: 1rem;
    line-height: 1.375rem;
    flex: 0 0 25%;
  }
}
.comments__form--field {
  padding-bottom: 0.625rem;
  width: 100%;
}
.comments__form--name {
  font-size: 0.875rem;
  line-height: 1.125rem;
  height: 2.25rem;
  width: 100%;
  padding: 0.75rem;
  margin: 0.25rem 0;
  display: inline-block;
  border: 1px solid #e1e1e1;
  border-radius: 0.25rem;
  box-sizing: border-box;
}
.comments__form--name:focus {
  outline: none !important;
  border: 1px solid #323232 !important;
}
@media screen and (min-width: 768px) {
  .comments__form--name {
    font-size: 1rem;
    line-height: 1.375rem;
    padding: 1rem;
    flex: 0 0 25%;
  }
}
.comments__form--text {
  font-size: 0.875rem;
  line-height: 1.125rem;
  width: 100%;
  height: 6.25rem;
  padding: 0.75rem;
  margin: 0.25rem 0;
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
  border-radius: 0.25rem;
  resize: none;
}
.comments__form--text:focus {
  outline: none !important;
  border: 1px solid #323232 !important;
}
@media screen and (min-width: 768px) {
  .comments__form--text {
    font-size: 1rem;
    line-height: 1.375rem;
    flex: 0 0 25%;
  }
}
.comments__form--sbtwrapper {
  display: flex;
  justify-content: flex-end;
}
.comments__form--sbt {
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 700;
  width: 100%;
  margin: 1.25rem 0 2.25rem;
  border-width: 0;
  border-radius: 0.25rem;
  padding: 0.25rem 2rem;
  height: 2.5rem;
  color: #ffffff;
  background-color: #323232;
  text-transform: uppercase;
  text-align: center;
}
.comments__form--sbt:hover {
  background-color: #000000;
}
@media screen and (min-width: 768px) {
  .comments__form--sbt {
    width: 30%;
  }
}
.comments__cards {
  margin: 0;
  padding: 0.25rem 0 1rem;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .comments__cards {
    justify-content: space-between;
    padding: 0 3rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .comments__cards {
    padding-left: 14rem;
    padding-right: 20rem;
  }
}
.comments__card {
  margin: 0;
  padding: 1rem 0;
  border-bottom: 2px solid #e1e1e1;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .comments__card {
    padding: 2.25rem 0 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .comments__card {
    justify-content: space-between;
  }
}
.comments__card--left {
  flex: 0 0 20%;
}
@media screen and (min-width: 768px) {
  .comments__card--left {
    flex: 0 0 10%;
  }
}
.comments__card--image {
  border-radius: 50%;
  background-color: #e1e1e1;
  height: 2.25rem;
  width: 2.25rem;
}
@media screen and (min-width: 768px) {
  .comments__card--image {
    height: 3rem;
    width: 3rem;
  }
}
.comments__card--right {
  flex: 0 0 80%;
}
@media screen and (min-width: 768px) {
  .comments__card--right {
    flex: 0 0 90%;
  }
}
.comments__card--top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .comments__card--top {
    margin: 0;
  }
}
.comments__card--name {
  color: #323232;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 700;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}
@media screen and (min-width: 768px) {
  .comments__card--name {
    font-size: 1rem;
    line-height: 1.375rem;
  }
}
.comments__card--date {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #afafaf;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .comments__card--date {
    font-size: 1rem;
    line-height: 1.375rem;
  }
}
.comments__card--text {
  font-size: 14px;
  line-height: 1.125rem;
  font-weight: 400;
  word-wrap: break-word;
}
@media screen and (min-width: 768px) {
  .comments__card--text {
    font-size: 1rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 1280px) {
  .comments__card--text {
    max-width: 1280px;
  }
}
.comments__card--icon {
  display: flex;
  justify-content: space-between;
}
.comments__card--like {
  margin: 0;
}
.comments__card--delete {
  margin: 0;
}/*# sourceMappingURL=bio.css.map */