@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "AvenirNext LT Pro";
  color: #323232;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  align-items: left;
  padding: 0 1rem;
  width: 100%;
  height: 100px;
  background-color: #323232;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 0 2.25rem;
  }
}
.header__wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.primary-nav {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: left;
}
.primary-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 100%;
}
.primary-nav__item {
  color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: left;
}

.hero {
  padding: 0 1rem;
  width: 320px;
  height: 200px;
  overflow: hidden;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 0 2.25rem;
  }
}
.hero__profile-name {
  margin: 0;
  color: #ffffff;
}

.band {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: left;
}
@media screen and (min-width: 768px) {
  .band {
    padding: 0 2.25rem;
  }
}
.band__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}
.band__title {
  color: #323232;
  font-size: 1.5rem;
  line-height: 1.375rem;
  font-weight: 700;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin: 0;
}
.band__image {
  max-width: 100%;
}
.band__subtitle {
  font-size: 0.9rem;
  line-height: 1.375rem;
  font-weight: 600;
  padding-top: 1rem;
  margin: 0;
}
.band__body {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding-top: 16px;
  margin: 0;
}

.gallery {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-color: #fafafa;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding: 0 2.25rem;
  }
}
.gallery__title {
  color: #323232;
  font-size: 1.5rem;
  line-height: 1.375rem;
  font-weight: 700;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin: 0;
  text-align: left;
}
.gallery img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding-bottom: 16px;
}

.footer {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: left;
  background-color: #323232;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 0 2.25rem;
  }
}
.footer__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  color: #ffffff;
}
.footer__title {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding-top: 24px;
  padding-bottom: 16px;
  margin: 0;
}
.footer__images {
  display: flex;
  justify-content: left;
  padding-bottom: 8px;
}
.footer__images--icon {
  padding-right: 16px;
}
.footer__card--name {
  font-weight: 700;
}
.footer__copyright {
  font-size: 10px;
  line-height: 20px;
  font-weight: 400;
}/*# sourceMappingURL=bio.css.map */