@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/resets" as *;

.header {
  @include flex-center;
  width: 100%;
  height: 100px;
  background-color: $primary-color;

  @include tablet {
    padding: 0 2.25rem;
  }

  @include desktop {
    padding: 0;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    @include tablet {
      flex-direction: row;
      justify-content: left;
    }

    @include desktop {
      max-width: $max-content-width;
    }
  }

  &__title {
    margin: 0;
    height: 20px;
    width: 120px;
  }
}

.primary-nav {
  width: 100%;
  height: 50%;
  display: flex;

  @include tablet {
    width: 300px;
    height: 100%;
    padding-left: 2rem;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    width: 100%;
    @include tablet {
      padding: 0 16px;
    }
  }

  &__item {
    color: $active-color;
    width: 100%;
    margin: 0;

    @include tablet {
      margin: 0 24px;
      width: 200px;
    }

    &:hover {
      border-bottom: 0.25rem solid $active-color;
      font-weight: bold;

      @include tablet {
        margin-right: 24px;
        padding: 30px 0;
      }
    }
    @include flex-center;
  }
}

.hero {
  @include relative-padding;
  width: 100%;
  height: 200px;
  overflow: hidden;
  background: linear-gradient(
      rgba($primary-color, 0.5),
      rgba($primary-color, 0.5)
    ),
    url("../assets/images/hero-shows.jpg");
  background-position: center;
  background-size: cover;
  //position: relative;

  @include tablet {
    height: 500px;
    object-fit: cover;
  }

  @include desktop {
    height: 600px;
  }

  &__wrapper {
    width: 100%;
    //@include flex-left;
    flex-direction: column;
    @include desktop {
      max-width: $max-content-width;
    }
  }

  &__profile {
    position: relative;
    display: flex;
    //justify-content: center;
    align-items: left;

    &--title {
      position: absolute;
      color: $active-color;
      font-size: 13px;
      line-height: 18px;
      font-weight: 400;
      top: 50%;
      bottom: 50%;

      @include tablet {
        font-size: 3.75rem;
        line-height: 4.25rem;
      }
    }

    &--text {
      position: absolute;
      margin: 0;
      color: $active-color;
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 700;
      top: 60%;
      bottom: 50%;

      @include tablet {
        font-size: 3.75rem;
        line-height: 4.25rem;
      }

      @include desktop {
        max-width: $max-content-width;
      }
    }
  }
}

// .shows {
//   width: 100%;
//   @include relative-padding;
//   @include flex-center;

//   &__wrapper {
//     width: 100%;
//     @include flex-left;
//     flex-direction: column;
//     @include desktop {
//       max-width: $max-content-width;
//     }
//   }

//   &__title {
//     color: $primary-color;
//     font-size: 1.5rem;
//     line-height: 2rem;
//     font-weight: 700;
//     padding-top: 1.5rem;
//     padding-bottom: 1rem;
//     margin: 0;

//     @include tablet {
//       font-size: 2.25rem;
//       line-height: 2.75rem;
//       padding-top: 3rem;
//       padding-bottom: 2.25rem;
//     }
//   }
  // &__cards{
  //   width: 100%;
  //   height: 50%;
  //   display: flex;
  //   flex-direction:column;
  
  //   @include tablet {
  //     width: 300px;
  //     height: 100%;
  //     padding-left: 2rem;
  //   }
  // }
  // &__card{
  //   margin: 0;
  //   padding: 0;
  //   list-style-type: none;
  //   @include tablet {
  //     padding: 0 16px;  
  //   }
  // }
  // &__item {
  //   color: $active-color;
  //   width: 100%;
  //   margin: 0;

  //   @include tablet {
  //     margin: 0 24px;
  //     width:200px;
  //   }

  //   &:hover {
  //     border-bottom: 0.25rem solid $active-color;
  //     font-weight:bold;

  //     @include tablet {
  //       // width: fit-content;
  //       margin-right: 24px;
  //       padding: 30px 0;
  //     }
  //   }
  //   @include flex-center;
  // }
}

.footer {
  width: 100%;
  @include relative-padding;
  @include flex-center;
  background-color: $primary-color;
  position: relative;

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: $active-color;
    padding-bottom: 1rem;
    position: relative;
    @include desktop {
      max-width: $max-content-width;
    }
  }

  &__title-box {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      justify-content: start;
    }
  }

  &__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    margin: 0;
    @include tablet {
      font-size: 2.15rem;
      line-height: 2.75rem;
      padding-right: 2rem;
    }
  }

  &__images {
    display: flex;
    &--icon {
      padding-right: 2.375rem;
    }
  }

  &__cards {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      font-size: 14.3px;
      line-height: 1.25rem;
      padding-bottom: 0;
    }
  }

  &__card {
    padding-top: 0;
    padding-bottom: 1rem;
    margin: 0;
    @include tablet {
      padding-right: 2rem;
    }

    &--name {
      font-weight: 700;
      padding-bottom: 1rem;
      margin: 0;
    }
    &--address {
      padding-bottom: 1rem;
      margin: 0;
    }
    &--email {
      margin: 0;
    }
  }

  &__logo-image {
    background: url(../assets/logos/Logo-bandsite.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    bottom: 50px;
    top: 0;
    right: 0;
    background-position: left bottom;
    padding-bottom: 1.25rem;

    @include tablet {
      background-position: right top;
      left: 0;
      bottom: 0;
      top: 30px;
      right: 0;
      display: flex;
      justify-content: center;
    }
  }

  &__copyright {
    padding-top: 2rem;
    font-size: 0.6875rem;
    line-height: 1.125rem;
    font-weight: 400;
    margin: 0;
    @include tablet {
      padding-top: 1.5rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }
}
