@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "AvenirNext LT Pro";
  color: #323232;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #323232;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 0 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    padding: 0 36px;
  }
}
.header__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__wrapper {
    flex-direction: row;
    justify-content: left;
  }
}
@media screen and (min-width: 1280px) {
  .header__wrapper {
    max-width: 1280px;
  }
}
.header__title {
  margin: 0;
  height: 20px;
  width: 120px;
}

.primary-nav {
  width: 100%;
  height: 50%;
  display: flex;
}
@media screen and (min-width: 768px) {
  .primary-nav {
    width: 300px;
    height: 100%;
    padding-left: 1.8rem;
  }
}
.primary-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .primary-nav__list {
    padding: 0 16px;
  }
}
.primary-nav__item {
  color: #ffffff;
  width: 100%;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .primary-nav__item {
    margin: 0 24px;
    width: 200px;
    font-size: 20px;
    line-height: 18px;
  }
}
.primary-nav__item:hover {
  border-bottom: 0.25rem solid #ffffff;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .primary-nav__item:hover {
    margin-right: 24px;
    padding: 30px 0;
  }
}

.footer {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #323232;
  position: relative;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 0 2.25rem;
  }
}
.footer__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  padding-bottom: 1rem;
  position: relative;
}
@media screen and (min-width: 1280px) {
  .footer__wrapper {
    max-width: 1280px;
  }
}
.footer__title-box {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__title-box {
    flex-direction: row;
    justify-content: start;
  }
}
.footer__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .footer__title {
    font-size: 2.15rem;
    line-height: 2.75rem;
    padding-right: 2rem;
  }
}
.footer__images {
  display: flex;
}
.footer__images--icon {
  padding-right: 2.375rem;
}
.footer__cards {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__cards {
    flex-direction: row;
    font-size: 14.3px;
    line-height: 1.25rem;
    padding-bottom: 0;
  }
}
.footer__card {
  padding-top: 0;
  padding-bottom: 1rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .footer__card {
    padding-right: 2rem;
  }
}
.footer__card--name {
  font-weight: 700;
  padding-bottom: 1rem;
  margin: 0;
}
.footer__card--address {
  padding-bottom: 1rem;
  margin: 0;
}
.footer__card--email {
  margin: 0;
}
.footer__logo-image {
  background: url(../../assets/logos/Logo-bandsite.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  bottom: 50px;
  top: 0;
  right: 0;
  background-position: left bottom;
  padding-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
  .footer__logo-image {
    background-position: right top;
    left: 0;
    bottom: 0;
    top: 30px;
    right: 0;
    display: flex;
    justify-content: center;
  }
}
.footer__copyright {
  padding-top: 2rem;
  font-size: 0.6875rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    padding-top: 1.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.hero {
  padding: 0 1rem;
  width: 100%;
  height: 280px;
  overflow: hidden;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-shows.jpg");
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 0 2.25rem;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    height: 450px;
  }
}
.hero__wrapper {
  width: 100%;
  margin: 0;
}
@media screen and (min-width: 1280px) {
  .hero__wrapper {
    max-width: 1280px;
    margin: 0 auto;
  }
}
.hero__profile {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .hero__profile {
    max-width: 1280px;
    flex-direction: row;
    justify-content: space-around;
  }
}
.hero__profile--contentdivider {
  padding: 0;
}
.hero__profile--title {
  margin: 0;
  padding-top: 24px;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .hero__profile--title {
    font-size: 28px;
    line-height: 22px;
    font-weight: 700;
    padding-top: 48px;
  }
}
.hero__profile--text {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  float: left;
  word-wrap: break-word;
  width: 75%;
}
@media screen and (min-width: 768px) {
  .hero__profile--text {
    font-size: 3.8rem;
    line-height: 4rem;
    padding-top: 36px;
    padding-bottom: 36px;
    word-wrap: break-word;
    width: 75%;
  }
}
@media screen and (min-width: 1280px) {
  .hero__profile--text {
    max-width: 1280px;
    word-wrap: break-word;
    width: 70%;
  }
}
.hero__profile--iframebox {
  margin: 0;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .hero__profile--iframebox {
    width: 58%;
  }
}
@media screen and (min-width: 1280px) {
  .hero__profile--iframebox {
    position: relative;
  }
}
.hero__profile--iframebox2 {
  margin: 0;
}
@media screen and (min-width: 1280px) {
  .hero__profile--iframebox2 {
    position: absolute;
    width: 100%;
    bottom: 40px;
  }
}

.shows {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .shows {
    padding: 0 16px;
  }
}
@media screen and (min-width: 1280px) {
  .shows {
    padding: 0 36px;
  }
}
.shows__wrapper {
  width: 100%;
  padding-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .shows__wrapper {
    padding-bottom: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .shows__wrapper {
    max-width: 1280px;
    flex-direction: row;
    padding-top: 48px;
  }
}
.shows__title {
  color: #323232;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding: 1.5rem 1rem 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .shows__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding: 3rem 20px 0;
    flex: 0 0 30%;
  }
}
@media screen and (min-width: 1280px) {
  .shows__title {
    padding: 0;
    flex-basis: 17%;
  }
}
@media screen and (min-width: 1280px) {
  .shows__contentdivider {
    flex-basis: 100%;
  }
}
.shows__banner {
  visibility: hidden;
  display: none;
}
@media screen and (min-width: 768px) {
  .shows__banner {
    visibility: visible;
    display: flex;
    justify-content: space-between;
    color: #afafaf;
    text-transform: uppercase;
    margin: 0;
    padding: 36px 0 0;
    list-style-type: none;
  }
}
@media screen and (min-width: 1280px) {
  .shows__banner {
    justify-content: space-between;
    padding-top: 8px;
  }
}
@media screen and (min-width: 768px) {
  .shows__banner--item {
    font-size: 16px;
    line-height: 22px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 25%;
  }
}
@media screen and (min-width: 1280px) {
  .shows__banner--item {
    max-width: 1280px;
    padding: 1rem;
  }
}
.shows__cards {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .shows__cards {
    justify-content: space-between;
  }
}
.shows__card {
  margin: 0;
  padding: 1rem 0;
  border-bottom: 2px solid #e1e1e1;
}
@media screen and (min-width: 768px) {
  .shows__card {
    display: flex;
  }
  .shows__card:hover {
    background-color: #fafafa;
  }
  .shows__card:active {
    background-color: #e1e1e1;
  }
}
@media screen and (min-width: 1280px) {
  .shows__card {
    justify-content: space-between;
  }
}
.shows__card--title {
  color: #afafaf;
  text-transform: uppercase;
  padding-left: 16px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .shows__card--title {
    display: none;
  }
}
.shows__card--content {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  padding: 1rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .shows__card--content {
    font-size: 16px;
    line-height: 22px;
    padding-left: 20px;
    text-align: left;
    flex: 0 0 25%;
  }
}
@media screen and (min-width: 1280px) {
  .shows__card--content {
    max-width: 1280px;
  }
}
.shows__card--highlight {
  font-weight: bold;
}
.shows__btnWrapper {
  text-align: center;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1280px) {
  .shows__btnWrapper {
    padding: 0;
  }
}
.shows__btnWrapper--btn {
  width: 100%;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  background-color: #323232;
  color: #ffffff;
  padding: 0.9rem 0;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .shows__btnWrapper--btn {
    padding: 16px 26px;
  }
}/*# sourceMappingURL=shows.css.map */